/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  padding-top: $spacing-unit * 0.6;
}

.site-header>.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;

  >div {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;

    >div {
      padding: 0 0.2em;
    }
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  margin-bottom: 0;

  a {
    letter-spacing: -1px;
  }

  a:link,
  a:visited {
    color: $grey-color-dark;
  }

  .site-description {
    @include relative-font-size(0.95);
    color: $grey-color;
  }
}

.site-author {
  @include relative-font-size(0.95);
  color: $grey-color;
  margin-top: 0.9em;
  margin-bottom: 0.7em;

  .site-author-icon {
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.2em;
    vertical-align: middle;
  }

  .social {
    position: relative;
    top: 0.35em;

    .social-icon {
      height: 1.4em;
      fill: currentColor;
    }

    a {
      padding: 0.2em;
    }

    a:link,
    a:visited {
      color: $grey-color
    }

    a:active,
    a:hover {
      text-decoration: none;
      color: initial;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  text-align: center;
  color: $grey-color;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;

  table span {
    text-wrap: nowrap;
    white-space: nowrap;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-category {
  display: inline-block;
  min-width: 3em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: white;
  background: lighten($brand-color, 25%);
  border-radius: 5px;
  font-size: $small-font-size;
  text-align: center;
  border: 1px solid lighten($brand-color, 25%);
  cursor: pointer;
}

.home {
  .post-category-hidden {
    color: lighten($brand-color, 25%);
    background: white;
  }

  .post-list-filter {
    margin-bottom: $spacing-unit * 1.2;

    .post-list-filter-reset {
      @extend .post-category;
      @extend .post-category-hidden;
    }

    .post-list-filter-reset,
    .post-category {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

div:has(> .post-toc) {
  background-color: lighten($brand-color, 44%);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  margin-bottom: $spacing-unit;
}

.post-toc {
  margin-bottom: initial;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-nav {
  display: flex;
  justify-content: space-between;

  &:first-child {
    margin-bottom: $spacing-unit;
  }

  >div {
    display: flex;
  }

  .post-nav-prev {
    margin-right: 0.5em;
  }

  .post-nav-next {
    text-align: end;
    margin-left: 0.5em;
  }
}

.series-nav {
  margin-bottom: $spacing-unit;

  .series-name {
    text-align: center;
    color: white;
    background: $brand-color;
  }

  .series-links {
    background-color: lighten($brand-color, 44%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .series-link {
      margin: 0 0.5em;
    }

    .selected-series-link {
      font-weight: bold;
    }
  }
}